@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

/* p{
  font-size: .7rem;
} */

.hck-logo{
  width: 65px;
  height: 60px;
  background: white;
  border-radius: 50%;

}
.hero-banner-img img{
height: 100px;
}

.event-card-content{
  /* min-height: 5rem; */
  height:6.8rem;
  white-space: initial; 
  width: auto; 
  word-break:break-all ;
  text-overflow: ellipsis;
  overflow:hidden;
  /* border: 1px solid black; */
}

.event-card-title{
  height: 3rem;
}
.event-card{
  border-radius: 12px;
width: auto;
}

.event-card-image{
  height: 250px;
  width: 100%;
  border-radius:12px 12px 0 0  ;
}
.footer-HCK-logo img{
  height:100px;
  width: 250px;
  background: white;
  border-radius: 12px;

}

.carousell img{
  height:95vh;
}

.courseImg img{
  height:400px;
}


/* .testimonial-bg{
  background: url("images/testimonal.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-size: 500px 500px;
background-opacity: 45%;
} */

