@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

.hck-logo{
  width: 60px;
  height: 50px;
  border-radius: 8px;

}
.hero-banner-img img{
height: 100px;
}

.event-card-content{

  height:6.8rem;
}


.event-card-title{
  height: 3rem;
}
.event-card{
  border-radius: 12px;
width: auto;
}

.event-card-image{
  height: 250px;
  width: 100%;
  border-radius:12px 12px 0 0  ;
}
.footer-HCK-logo img{
  height:100px;
  width: 160px;
  background: white;
  border-radius: 15px;

}

.carousell img{
  height:95vh;
}

.courseImg img{
  height:400px;
}

.gallery-image img{
  max-height:14rem;
  width:100%;
  cursor:pointer;
}

.course-accordion{
  background: #74C042;
  color:#ffffff;
  border-radius:8px;
}

.bor{
  border: 1px solid black;
}

.about-img img{
  width:40rem;
}

.contact-header img{
  width:40rem;

}
.gallery-header img{
  width:40rem;
}

.event-header img{
  width:40rem;

}
.card {

  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

